 body {
    	padding-left: 11em;
    	font-family: Georgia, "Times New Roman",Times, serif;
    	color: white;
    	background-image: url("fondo.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
 }
  ul.navbar {
    	    list-style-type: none;
    	    padding: 0;
    	    margin: 0;
    	    position: absolute;
    	    top: 4em;
    	    left: 1em;
    	    width: 9em }
  div{
      margin-left: 8%;
      margin-top: 40px;
  }
  img {
    border-radius: 50%;
    max-width: 35%;
    
}
  h1 {
     font-family: Helvetica, Geneva, Arial,SunSans-Regular, sans-serif }
  ul.navbar li {
  		background: white;
     		margin: 0.5em 0; /* T R B L, T RL B, TB RL, TRBL*/
     		padding: 0.3em;
     		border-right: 1em solid black }
  ul.navbar a {
    	      text-decoration: none }
  	      a:link {
    	      color: blue }
  a:visited {
    	    color: purple }
  address {
    	  margin-top: 15em;
    	  padding-top: 1em;
    	  border-top: thin dotted
  }
  
table {
    border-collapse: collapse;
    width: 50%;
}
th{
    color:skyblue;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:purple;}